$background-color-main: #201b2c;
$background-color-card: #2f2841;
$background-color-input: #514869;
$primary-color: #77ffc0;
$secondary-color: #00ff88;
$input-color: #f0ffffde;
$placeholder-color: #f0ffff94;
$btn-login-color: #2b134b;
$shadow-btn-login-color: #00ff8052;